# Discord and config handling
git+https://github.com/4Kaylum/discord.py@master
toml
git+https://github.com/Rapptz/discord-ext-menus

# Storage handling
asyncpg
aioredis

# Website handling
aiohttp
aiohttp_jinja2
aiohttp_session
jinja2
