footer {
    position: absolute;
    bottom: 0;
    background: rgb(var(--notblack));
    border-top: 3px solid white;
    width: calc(100% - 40px);
    padding: 10px 20px;
}

footer h4 {
    color: white;
    font-weight: normal;
    margin: 0;
}
