html {
    height: 100%;
}

:root {
    --greyple: 153, 170, 181;
    --blurple: 114, 137, 218;
    --notblack: 44, 47, 51;
    --black: 35, 39, 42;
}

body {
    background: rgb(var(--greyple));
    margin: 0;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}
