{% extends "bootstrap.html" %}

{% block header %}
    <nav class = "navbar navbar-expand-sm navbar-light" style = "background-color:#7289DA">
        <a class = "navbar-brand mb-0 text-white" href = "/">
            <img src="{{ marriagebot_logo }}" width = "40" height = "40" class = "d-inline-block align-top" style = "border-radius: 50%;margin-right: 10px">
            MarriageBot
        </a>
        <button class="navbar-toggler" style ="border: none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class = "collapse navbar-collapse mr-auto" id = "navbarSupportedContent">
            <ul class = "navbar-nav" style = "text-align: left">
                <li class = "nav-item">
                    <a class = "nav-link" href="{{ colours_url }}">Colours</a>
                </li>
                <li class = "nav-item dropdown">
                        <a class = "nav-link dropdown-toggle" id="guild_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                            Guilds
                        </a>
                        <div class = "dropdown-menu" aria-labelledby="guild_dropdown" style = "float:left">
                            {% for guild in guild_list %}
                            <a class = "dropdown-item" href = "{{ guilds_url+'/'+guild.id }}" >
                                <img src = "{{ guild.icon_url }}" width = "30" height = "30" style = "border-radius:50%" class = "d-inline-block align-top">
                                {{ guild.name }}
                            </a>
                            {% endfor %}
                        </div> 
                </li>
                <li class = "nav-item dropdown">
                        <a class = "nav-link dropdown-toggle"id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                            <img src = "{{ user_avatar }}" width = "30" height = "30" style = "border-radius:50%" class = "d-inline-block align-top">
                            {{ username }}
                        </a>
                        <div class = "dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style = "max-width: 60px;float:left">
                            <a class = "dropdown-item" href = "{{ logout_url }}" >logout</a>
                        </div> 
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}

{% endblock %}