{
    "token": "",
    "dbl_token": "",
    "owners": [141231597155385344],
    "database": {
        "user": "marriagebot" ,
        "password": "",
        "database": "marriagebot",
        "host": "127.0.0.1"
    },
    "presence_text": [
        "m!help"
    ],
    "google_analytics": {
        "tracking_id": "",
        "app_name": "",
        "document_host": ""
    },
    "github": "",
    "patreon": "",
    "log_channel": 01011,
    "chat_channel": 01011,
    "stream_channel": 01011,
    "guild": ""
}