{
    "token": "",
    "dbl_token": "",
    "bot_admin_role": 0,
    "owners": [141231597155385344],
    "database": {
        "user": "marriagebot" ,
        "password": "",
        "database": "marriagebot",
        "host": "127.0.0.1"
    },
    "presence_text": "m!help",
    "default_prefix": "m!",
    "google_analytics": {
        "tracking_id": "",
        "app_name": "",
        "document_host": ""
    },
    "initial_cogs": [],
    "tree_file_location": "./trees",
    "dbl_vainity": "",
    "github": "",
    "patreon": "",
    "paypal": "",
    "command_log_channel": 01011,
    "event_log_channel": 01011,
    "chat_channel": 01011,
    "stream_channel": 01011,
    "guild": "",
    "embed_default_text": null
}