token = "bot_token"
owners = [ 141231597155385344, ]
default_prefix = "!"  # The prefix for the bot's commands
guild_id = 1  # The ID of the main/support guild

# Data that's copied directly over to a command without processing
[command_data]
    guild_invite = ""
    github = ""

# This data is passed directly over to asyncpg
[database]
    user = "database_username"
    password = "DatabasePassword"
    database = "database_name"
    host = "127.0.0.1"
    port = 5432
    enabled = false

# This data is passed directly over to aioredis
[redis]
    host = "127.0.0.1"
    port = 6379
    db = 0
    enabled = false

# What the bot is playing
[presence]
    activity_type = "playing"  # Should be one of 'playing', 'listening', 'watching'
    text = "Game playing text"
    status = "online"  # Should be one of 'online', 'invisible', 'idle', 'dnd'

# Used to generate the invite link - client ID only necessary for webserver
[oauth]
    client_id = ""
    client_secret = ""
