@media screen and (max-width: 576px) {
    .navbar-nav{
        margin-top: 10px;
        width: 100%;
        padding: 5px;
        text-align: center;
    }
}

.jumbotron {
    border-radius: 0;
}

.sp-replacer {
    max-width: 70px;
    float:right;
    margin-right: 10px;
}

.dropdown-item {
    overflow: hidden;
    max-width: 90vw;
}