{% extends "layout/html.j2" %}

{% macro button(action, text) -%}
    <button class="btn btn-outline-success" type="submit" formaction="{{ action }}">
        {{ text }}
    </button>
{%- endmacro %}

{%- block navbar -%}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <a class="navbar-brand" href="/">BASEBOT</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {# <li class="nav-item">
                <a class="nav-link" href="/">Index</a>
            </li> #}
        </ul>
        <form class="form-inline">
            {%- if session.user_id -%}
                <div class="form-group">
                    <img class="discord-avatar mr-2" src="{{ session.user_info.avatar_url }}" alt="Your Discord avatar" />
                </div>
                {{ button("/logout", "Logout") }}
            {%- else -%}
                {{ button("/discord_oauth_login", "Login") }}
            {%- endif -%}
        </form>
    </div>

</nav>
{%- endblock navbar -%}
