<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}MarriageBot - Fill Title{% endblock title %}</title>
    <link rel="icon" href="/static/images/MarriageBotCircle.150.png" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/content.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" />

    {% for i, o in opengraph.items() %}
    <meta property="{{ i }}" content="{{ o }}" />{% endfor %}
    <meta property="og:url" content="{{ request.url.human_repr() }}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123512689-2"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-123512689-2');</script>
    {% block head -%}{% endblock head %}
</head>
<body>

{% block body %}
<header>
    <ul id="header-content">
        <li class="logo-holder left"><a href="/"><img class="mb-logo" alt="The MarriageBot logo" src="/static/images/MarriageBot.150.png" /></a></li>
        <li class="left"><a href="/"><h1 class="mb-title">MarriageBot</h1></a></li>
        {% if user_info == None -%}
            <li class="right"><a class="header-button login-button" href="/discord_oauth_login">Login</a></li>
        {% else -%}
            <li class="right"><a class="header-button logout-button" href="/logout">Logout</a></li>
            <li class="right"><a class="header-button logout-button" style="margin-right: 5px;" href="/settings">Settings</a></li>
            <li class="right"><img class="user-avatar" alt="Your Discord user avatar" src="{{ user_info.avatar_url }}" /></li>
        {% endif %}
    </ul>
</header> <!-- header -->

<div id="content">
{% block content -%}{% endblock content %}
</div> <!-- content -->

<footer>
{% block footer -%}<h4>&copy; Callum Bartlett</h4>{% endblock footer %}
</footer> <!-- footer -->

{% endblock body %}

</body>
</html>
