{% extends "head.jinja" %}

{% block header %}
<a href="/"><img src="{{ static('/images/logo.jpg') }}" alt="The MarriageBot logo"></a>
{% if user.avatar %}
    <img src="//cdn.discordapp.com/avatars/{{ user.id }}/{{ user.avatar }}.png" alt="Your Discord profile picture" />
{% else %}
    <img src="//cdn.discordapp.com/embed/avatars/{{ user.discriminator % 5 }}.png" alt="Your Discord profile picture" />
{% endif %}
<p>{{ user.username }}#{{ user.discriminator }}</p>
<a id="logout-button" href="/logout">Logout</a>
{% endblock %}

{% block content %}
{% endblock %}
