{% extends "base.jinja" %}

{% block title %}MarriageBot - July 2019 Reset{% endblock title %}

{% block content %}
<h1>MarriageBot may be getting a reset</h1>
<p>I'm considering resetting the trees. We're now at a point where families are in the multiples of thousands and it isn't really helping the bot out all that much. Commands such as `fs`, `adopt`, `marry`, etc all need to check through every family member in order to proceed, and when each family has several thousand members? You can tell it's going to take a while. I understand that there are people very proud of their several thousand person trees, but ultimately I've got to prioritize having this bot run smoothly.</p>
<p>If I <i>were</i> to reset the trees, I'd implement new logic that caps the amount of people in a family, as well as <i>finally</i> launching the server-specific trees that I've been working on (I might make it a donator feature - I'm not quite sure yet).</p>
<p>I'm all ears for any suggestions and feedback that people may have on this - be it "no dont do that u suck", "I can help progress without resetting things", "Caleb you're extremely handsome", "here's how to use 500% less memory", etc (that last one would be v helpful pls <a href="https://github.com/4Kaylum/MarriageBot">https://github.com/4Kaylum/MarriageBot</a>)</p>
<p>Sorry about this. <a href="https://patreon.com/CalebB">https://patreon.com/CalebB</a></p>
<h3><a href="https://discord.gg/xk24TvS">Leave your feedback here</a></h3>
{% endblock content %}
