{% extends 'base.jinja' %}

{% block content%}
{% if page.jumbotron %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>{{ page.jumbotron|safe }}</h1>
    </div>
</div>
{%- endif %}
{% for container in page.containers %}
<div class="container{% if container.fluid %}-fluid{% endif %}">
{% for row in container.rows %}
    <div class="row">
    {% for column in row.columns %}
        <div class="{% if column.widths %}{% for width in column.widths %}col-{{ width }} {% endfor %}{% else %}col{% endif %}">
            {% if column.text %}
            {{ column.text|safe }}
            {%- endif %}
            {% for deck in column.card_decks %}
            <div class="card-{{ deck.type }}">
            {% for card in deck.cards %}
                <div class="card">
                    <div class="card-body">
                        {% if card.title %}<h5 class="card-title">{{ card.title|safe }}</h5>{%- endif %}
                        {% if card.text %}<p class="card-text">{{ card.text|safe }}</p>{%- endif %}
                    </div>
                </div>
            {%- endfor %}
            </div>
            {%- endfor %}
        </div>
    {%- endfor %}
    </div>
{%- endfor %}
</div>
{% endfor %}
{% endblock content %}
