<html>
    <head>
        <meta name="robots" content="noindex">
        <script src="https://js.stripe.com/v3/"></script>
        <script>
            var stripe = Stripe('{{ stripe_publishable_key }}');
            stripe.redirectToCheckout({
                sessionId: '{{ checkout_session_id }}'
            }).then(function (result) {
                // If `redirectToCheckout` fails due to a browser or network
                // error, display the localized error message to your customer
                // using `result.error.message`.
            });
        </script>
    </head>
    <body>
    </body>
</html>
