{% extends "base.j2" %}

{% block title %}
MarriageBot - {{ guild.name }} Settings
{% endblock title %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/guild_settings.css" />
{% endblock head %}

{% block content %}
<div class="content-header-data">
    {% if guild.icon %}<img alt="The guild icon for {{ guild.name }}" src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.png" />{% else %}<img alt="The default guild icon" src="/static/images/GuildDefaultImage.png" />{% endif %}
    <h2>{{ guild.name }} - {% if gold is none %}Gold Settings{% else %}Settings{% endif %}</h2>
</div>
<div class="content-header-data">
    {% if normal == true %}<h2>This guild has <a href="/guild_settings?guild_id={{ guild.id }}">MarriageBot</a> - click for settings</h2>{% elif normal == false %}<h2><a href="/r/invite">Click here</a> to invite normal MarriageBot for this guild</h2>{% endif %}
    {% if gold == true %}<h2>This guild has <a href="/guild_settings?guild_id={{ guild.id }}&gold=1">MarriageBot Gold</a> - click for settings</h2>{% elif gold == false %}<h2>Click here to buy MarriageBot Gold for this guild </h2>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="83N4P9WB294EL">
        <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
        <input type="hidden" name="custom" value='{"discord_user_id": {{ user_info.id }}, "discord_guild_id": {{ guild.id }}}'>
    </form>
    {% endif %}
</div>
<form id="prefix" class="boxed">
    <p>Bot prefix - the prefix used to activate the bot on your server.</p>
    <p><input name="prefix" value="{{ prefix }}" placeholder="MarriageBot Prefix" maxlength="30" />
    <button type="submit" formmethod="post" formaction="/set_prefix">Submit Prefix Change</button></p>
    <input name="guild_id" value="{{ guild.id }}" type="hidden" />
    <input name="gold" value="{% if gold is none%}1{% endif %}" type="hidden" />
</form> <!-- prefix -->

<form id="gifs-enabled" class="boxed">
    <p>Gifs - sets whether gifs are enabled for your server's simulation commands.</p>
    <p>
        <input name="enabled"{% if gifs_enabled %} checked{% endif %} type="checkbox" />
        <button form="gifs-enabled" type="submit" formmethod="post" formaction="/set_gifs_enabled">Submit Gif Enable Change</button>
    </p>
    <input name="guild_id" value="{{ guild.id }}" type="hidden" />
    <input name="gold" value="{% if gold is none %}1{% endif %}" type="hidden" />
</form> <!-- gifs-enabled -->

<form id="incest-allowed" class="boxed">
    <p>Incest - sets whether incest is allowed on your server.</p>
    <p>
        <input name="allowed"{% if allow_incest %} checked{% endif %} type="checkbox"{% if not gold is none %} disabled{% endif %} />
        {% if gold is none -%}
            <button form="incest-allowed" type="submit" formmethod="post" formaction="/set_incest_enabled">Submit Incest Change</button>
        {%- else -%}
            <button form="incest-allowed" type="submit" formmethod="post" disabled>Disabled for non-Gold bot</button>
        {%- endif -%}
    </p>
    <input name="guild_id" value="{{ guild.id }}" type="hidden" />
    <input name="gold" value="{% if gold is none%}1{% endif %}" type="hidden" />
</form> <!-- incest-allowed -->

<form id="max-family-members" class="boxed">
    <p>Maximum family members - sets the maximum amount of members you can have in your family.</p>
    <p>
        <input name="amount" value="{{ max_family_members }}" placeholder="Maximum Family Members" max="2000" min="50" type="number"{% if not gold is none %} disabled{% endif %} />
        {% if gold is none -%}
            <button form="max-family-members" type="submit" formmethod="post" formaction="/set_max_family_members">Submit Prefix Change</button>
        {%- else -%}
            <button form="max-family-members" type="submit" formmethod="post" disabled>Disabled for non-Gold bot</button>
        {%- endif -%}
    </p>
    <input name="guild_id" value="{{ guild.id }}" type="hidden" />
    <input name="gold" value="{% if gold is none%}1{% endif %}" type="hidden" />
</form> <!-- max-family-members -->

<form id="disabled-commands" class="boxed">
    <p>Disabled commands - these are commands that are disabled on the server.</p>
    <div>
    {%- for command, disabled in disabled_commands.items() -%}
        <input disabled id="disable_command_checkbox_{{ command }}" name="{{ command }}"{# {% if disabled %} checked{% endif %} #} type="checkbox" /><label for="disable_command_checkbox_{{ command }}">{{ command }}</label><br />
    {%- endfor -%}
    </div>
    <p>
        {%- if gold is none -%}
            <button form="disabled-commands" type="submit" disabled formmethod="post" formaction="/set_disabled_commands">Disabled for testing<!-- Submit Disabled Commands --></button>
        {%- else -%}
            <button form="disabled-commands" type="submit" disabled formmethod="post" disabled>Disabled for testing<!-- Disabled for non-Gold bot --></button>
        {%- endif -%}
    </p>
    <input name="guild_id" value="{{ guild.id }}" type="hidden" />
    <input name="gold" value="{% if gold is none%}1{% endif %}" type="hidden" />
</form> <!-- disabled-commands -->

<form id="max-allowed-children" class="boxed">
    <p>Maximum allowed children - the amount of children that people with a given role are allowed to have. If a user has multiple of these roles, the one with the higest number will be used. Must be a number from {{ min_children_hard_cap }} to {{ max_children_hard_cap }}.</p>
    <div>
    {%- for role in roles -%}
        {%- if role == roles[-1] -%}
            <input id="role_max_children_{{ role.id }}" disabled name="{{ role.id }}" type="number" min="{{ min_children_hard_cap }}" max="{{ max_children_hard_cap }}" value="{{ min_children_hard_cap }}" placeholder="Default - 5" /><label for="role_max_children_{{ role.id }}">{{ role.name }}</label><br />
        {%- elif not role.managed -%}
            <input id="role_max_children_{{ role.id }}" name="{{ role.id }}" type="number" min="{{ min_children_hard_cap }}" max="{{ max_children_hard_cap }}" value="{{ max_children_amount.get(role.id) }}" placeholder="Default - 5" /><label for="role_max_children_{{ role.id }}">{{ role.name }}</label><br />
        {%- endif -%}
    {%- endfor -%}
    </div>
    <p>
        {%- if gold is none -%}
            <button form="max-allowed-children" type="submit" formmethod="post" formaction="/set_max_allowed_children">Submit Children Amount Change</button>
        {%- else -%}
            <button form="max-allowed-children" type="submit" formmethod="post" disabled>Disabled for non-Gold bot</button>
        {%- endif -%}
    </p>
    <input name="guild_id" value="{{ guild.id }}" type="hidden" />
    <input name="gold" value="{% if gold is none%}1{% endif %}" type="hidden" />
</form> <!-- max-allowed-children -->

{% endblock content %}
