{% extends "base.html.j2" %}


{% block title %}
MarriageBot - Guild Picker
{% endblock title %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static('/css/guild_picker.css') }}" />
{% endblock head %}


{% block content %}
<h2>Guild Picker</h2>
<p>Select which server you want to alter. From there you'll be able to change the prefix that the bot uses.</p>

<div class="guild-holder">
    {% for member in guilds %}
    <div class="guild-block">
        {% if member.guild.icon %}<img alt="The guild icon for {{ member.guild.name }}" src="{{ member.guild.icon_url_as(size=128) }}" />{% else %}<img alt="The default guild icon" src="{{ static('/images/GuildDefaultImage.png') }}" />{% endif %}
        <h3>
            <a href="/guild_settings/{{ member.guild.id }}" alt="The settings page for {{ member.guild.name }}">{{ member.guild.name }}</a>
            {% if member.guild.gold %}
                <br />
                <p>(Gold Active)</p>
            {% endif %}
        </h3>
    </div> <!-- guild-block -->
    {% endfor %}
</div>
{% endblock content %}
