{% extends "base.html.j2" %}


{% block title %}
MarriageBot - {{ guild.name }} Settings
{% endblock title %}


{% block head %}
<script type="text/javascript" src="{{ static('/js/guild_settings.js') }}"></script>
{% endblock head %}


{% block content %}
<style type="text/css">
p {
    text-align: left;
}
</style>
<div class="content-header-data">
    {% if guild.icon %}
        <img alt="The guild icon for {{ guild.name }}" src="{{ guild.icon.with_size(128).url }}" />
    {% else %}
        <img alt="The default guild icon" src="{{ static('images/GuildDefaultImage.png') }}" />
    {% endif %}
    <h2>{{ guild.name }} - Settings</h2>
</div>


<div class="content-header-data" style="flex-direction: column;">
    {% if not normal_bot_in_guild %}
        <h2><a href="{{ normal_invite_link }}">MarriageBot Invite</a></h2>
    {% endif %}
    {% if not has_gold %}
        <div class="content-header-data">
            <h2 style="margin-right: 10px;">Buy MarriageBot Gold for this guild</h2>
            <form style="top: 2px; position: relative;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="83N4P9WB294EL">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                <input type="hidden" name="custom" value='{"discord_user_id": {{ user_info.id }}, "discord_guild_id": {{ guild.id }}}'>
            </form>
        </div>
    {% else %}
        {% if not gold_bot_in_guild %}
            <h2><a href="{{ gold_invite_link }}">Gold Bot Invite</a></h2>
        {% endif %}
    {% endif %}
</div>


<form id="gifs-enabled" class="boxed">
    <p>Gifs - sets whether gifs are enabled for your server's simulation commands.</p>
    <p>
        <input name="enabled" {% if guild_settings['gifs_enabled'] %}checked{% endif %} type="checkbox" />
        <button onclick="updateGuildGifsEnabled(this); return false;">Update Gif Enable</button>
    </p>
    <input name="guild_id" value="{{ guild.id }}" type="hidden" />
</form> <!-- gifs-enabled -->


<form id="incest-allowed" class="boxed">
    <p>Incest - sets whether incest is allowed on your server.</p>
    <p>
        <input name="enabled" {% if guild_settings['allow_incest'] %}checked{% endif %} type="checkbox" {% if not has_gold %}disabled{% endif %} />
        {% if has_gold -%}
            <button onclick="updateGuildIncestEnabled(this); return false;">Update Incest Allowed</button>
        {%- else -%}
            <button disabled>Disabled for non-Gold bot</button>
        {%- endif -%}
    </p>
    <input name="guild_id" value="{{ guild.id }}" type="hidden" />
</form> <!-- incest-allowed -->


<form id="max-allowed-children" class="boxed">
    <p>Maximum allowed children - the amount of children that people with a given role are allowed to have. If a user has multiple of these roles, the one with the higest number will be used. Must be a number from <b>{{ min_children_hard_cap }}</b> to <b>{{ max_children_hard_cap }}</b>.</p>
    <div>
    {%- if has_gold -%}
        {%- for role in guild_roles -%}
            {%- if not role.is_bot_managed() -%}
                <input
                    {% if role == guild_roles[-1] %}disabled{% endif %}
                    id="role_max_children_{{ role.id }}"
                    name="{{ role.id }}"
                    type="number"
                    min="{{ min_children_hard_cap }}"
                    max="{{ max_children_hard_cap }}"
                    value="{{ given_max_children.get(role.id) }}"
                    placeholder="Default - 5" />
                <label for="role_max_children_{{ role.id }}"><span style="color: rgb({{ role.colour.r }}, {{ role.colour.g }}, {{ role.colour.b }})">⦿</span>{{ role.name }}</label><br />
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
    </div>
    <p>
        {%- if has_gold -%}
            <button  onclick="updateGuildMaxAllowedChildren(this); return false;">Submit Children Amount Change</button>
        {%- else -%}
            <button disabled>Disabled for non-Gold bot</button>
        {%- endif -%}
    </p>
    <input name="guild_id" value="{{ guild.id }}" type="hidden" />
    <input name="gold" value="{% if gold is none%}1{% endif %}" type="hidden" />
</form> <!-- max-allowed-children -->


{% endblock content %}
