{% extends "base.html.j2" %}


{% block title %}
MarriageBot - {{ guild.name }} Settings
{% endblock title %}


{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/guild_settings.css" />
{% endblock head %}


{% block content %}
<div class="content-header-data">
    {% if guild.icon %}
        <img alt="The guild icon for {{ guild.name }}" src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.png" />
    {% else %}
        <img alt="The default guild icon" src="/static/images/GuildDefaultImage.png" />
    {% endif %}
    <h2>{{ guild.name }} - Settings</h2>
</div>


<div class="content-header-data">
    {% if gold == false %}
        <h2>Click here to buy MarriageBot Gold for this guild </h2>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="83N4P9WB294EL">
            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            <input type="hidden" name="custom" value='{"discord_user_id": {{ user_info.id }}, "discord_guild_id": {{ guild.id }}}'>
        </form>
    {% endif %}
</div>


<form id="prefix" class="boxed">
    <p>Bot prefix - the prefix used to activate the bot on your server.</p>
    <p>
        <input name="prefix" value="{{ guild_settings['prefix'] }}" placeholder="MarriageBot Prefix" maxlength="30" />
        <input name="gold_prefix" value="{{ guild_settings['gold_prefix'] }}" placeholder="MarriageBot Gold Prefix" maxlength="30" {% if not has_gold %}disabled{% endif %} />
        <button type="submit" formmethod="post" formaction="/set_prefix">Update Guild Prefix</button>
    </p>
    <input name="guild_id" value="{{ guild.id }}" type="hidden" />
</form> <!-- prefix -->


<form id="gifs-enabled" class="boxed">
    <p>Gifs - sets whether gifs are enabled for your server's simulation commands.</p>
    <p>
        <input name="enabled" {% if guild_settings['gifs_enabled'] %}checked{% endif %} type="checkbox" />
        <button form="gifs-enabled" type="submit" formmethod="post" formaction="/set_gifs_enabled">Update Gif Enable</button>
    </p>
    <input name="guild_id" value="{{ guild.id }}" type="hidden" />
</form> <!-- gifs-enabled -->


<form id="incest-allowed" class="boxed">
    <p>Incest - sets whether incest is allowed on your server.</p>
    <p>
        <input name="allowed" {% if guild_settings['allow_incest'] %}checked{% endif %} type="checkbox" {% if not has_gold %}disabled{% endif %} />
        {% if has_gold -%}
            <button form="incest-allowed" type="submit" formmethod="post" formaction="/set_incest_enabled">Update Incest Allowed</button>
        {%- else -%}
            <button form="incest-allowed" type="submit" formmethod="post" disabled>Disabled for non-Gold bot</button>
        {%- endif -%}
    </p>
    <input name="guild_id" value="{{ guild.id }}" type="hidden" />
</form> <!-- incest-allowed -->


<form id="max-allowed-children" class="boxed">
    <p>Maximum allowed children - the amount of children that people with a given role are allowed to have. If a user has multiple of these roles, the one with the higest number will be used. Must be a number from <b>{{ min_children_hard_cap }}</b> to <b>{{ max_children_hard_cap }}</b>.</p>
    <div>
    {%- if has_gold -%}
        {%- for role in guild_roles -%}
            {%- if not role.managed -%}
                <input
                    {% if role == roles[-1] %}disabled{% endif %}
                    id="role_max_children_{{ role.id }}"
                    name="{{ role.id }}"
                    type="number"
                    min="{{ min_children_hard_cap }}"
                    max="{{ max_children_hard_cap }}"
                    value="{{ max_children_amount.get(role.id) }}"
                    placeholder="Default - 5" />
                <label for="role_max_children_{{ role.id }}">{{ role.name }}</label><br />
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
    </div>
    <p>
        {%- if has_gold -%}
            <button form="max-allowed-children" type="submit" formmethod="post" formaction="/set_max_allowed_children">Submit Children Amount Change</button>
        {%- else -%}
            <button form="max-allowed-children" type="submit" formmethod="post" disabled>Disabled for non-Gold bot</button>
        {%- endif -%}
    </p>
    <input name="guild_id" value="{{ guild.id }}" type="hidden" />
    <input name="gold" value="{% if gold is none%}1{% endif %}" type="hidden" />
</form> <!-- max-allowed-children -->


{% endblock content %}
