{% extends "head.jinja" %}

{% block body %}
<div id="indexcontent">
    <img class="logo" src="{{ static('images/logo.jpg') }}" alt="The MarriageBot logo" />
    <a class="login-button" href="https://discordapp.com/api/oauth2/authorize?client_id=468281173072805889&redirect_uri=http%3A%2F%2Fvps.callumb.co.uk%3A8080%2Flogin&response_type=code&scope=identify%20guilds">Login With Discord</a>
</div>
{% endblock %}
