{% extends "html.jinja" %}

{%- block navbar -%}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <a class="navbar-brand" href="/">BASEBOT</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {# <li class="nav-item">
                <a class="nav-link" href="/">Index</a>
            </li> #}
        </ul>
        <form class="form-inline">
            {%- if session.username -%}
                <button class="btn btn-outline-success" type="submit" formaction="/logout">
                    {{ session.username }} - Logout
                </button>
            {%- else -%}
                <button class="btn btn-outline-success" type="submit" formaction="/discord_oauth_login">
                    Login
                </button>
            {%- endif -%}
        </form>
    </div>

</nav>
{%- endblock navbar -%}
