{% extends "base.jinja" %}

{% block content %}
<h2><a href="/user/{{ user.id }}">Click here to change your user settings</a></h2>
<p>In this section you're able to change things like how your tree looks, and manage any users you've blocked in the past</h2>
{% endblock content %}
