{% extends "base.j2" %}

{% block title %}
MarriageBot - Settings Index
{% endblock title %}

{% block content %}
<h2><a href="/user_settings">User Settings</a></h2>
<p>In this section you're able to change things like how your tree looks, and manage any users you've blocked in the past</h2>
<h2><a href="/guilds">Server Settings</a></h2>
<p>The server settings section allows you to pick a bot prefix and other settings</p>
{% endblock content %}
