{% extends "base.jinja" %}

{% block body %}
<style>
#preview .node polygon, #preview .edge path, #preview .node ellipse {
    fill: {% if hex_strings.node == 'transparent' or hex_strings.node == None or hex_strings.node|length == 1 %}rgba(0, 0, 0, 0){% else %}{{ hex_strings.node }}{% endif %};
    stroke: {% if hex_strings.edge == 'transparent' or hex_strings.edge == None or hex_strings.edge|length == 1 %}rgba(0, 0, 0, 0){% else %}{{ hex_strings.edge }}{% endif %};
}

#preview .node text {
    fill: {% if hex_strings.font == 'transparent' or hex_strings.font == None or hex_strings.font|length == 1 %}rgba(0, 0, 0, 0){% else %}{{ hex_strings.font }}{% endif %};
}

#preview .highlighted-node text {
    fill: {% if hex_strings.highlighted_font == 'transparent' or hex_strings.highlighted_font == None or hex_strings.highlighted_font|length == 1 %}rgba(0, 0, 0, 0){% else %}{{ hex_strings.highlighted_font }}{% endif %};
}

#preview .highlighted-node polygon {
    fill: {% if hex_strings.highlighted_node == 'transparent' or hex_strings.highlighted_node == None or hex_strings.highlighted_node|length == 1 %}rgba(0, 0, 0, 0){% else %}{{ hex_strings.highlighted_node }}{% endif %};
}

#preview .background {
    fill: {% if hex_strings.background == 'transparent' or hex_strings.background == None or hex_strings.background|length == 1 %}rgba(0, 0, 0, 0){% else %}{{ hex_strings.background }}{% endif %};
}

#preview {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
</style>

<svg id="preview" viewBox="0.00 0.00 299.86 262.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 258)">
        <title>%0</title>
        <polygon class="background" fill="#ffffff" stroke="transparent" points="-4,4 -4,-258 295.8612,-258 295.8612,4 -4,4"/>
        <!-- User1 --> 
        <g id="node1" class="node">
            <title>User1</title>
            <polygon fill="#ffffff" stroke="#000000" points="140.6276,-254 -.2096,-254 -.2096,-218 140.6276,-218 140.6276,-254"/>
            <text text-anchor="middle" x="70.209" y="-231.8" font-family="Times,serif" font-size="14.00" fill="#000000">MobsterLobster#1066</text>
        </g>
        <!-- hUser1 --> 
        <g id="node6" class="node">
            <title>hUser1</title>
            <ellipse fill="#ffffff" stroke="#000000" cx="70.209" cy="-181.5" rx=".5" ry=".5"/>
        </g>
        <!-- User1&#45;&gt;hUser1 --> 
        <g id="edge1" class="edge">
            <title>User1&#45;&gt;hUser1</title>
            <path fill="none" stroke="#000000" d="M70.209,-217.8523C70.209,-203.4845 70.209,-185.3026 70.209,-182.0198"/>
        </g>
        <!-- User2 --> 
        <g id="node2" class="highlighted-node node">
            <title>User2</title>
            <polygon fill="#0000ff" stroke="#000000" points="131.2554,-145 9.1626,-145 9.1626,-109 131.2554,-109 131.2554,-145"/>
            <text text-anchor="middle" x="70.209" y="-122.8" font-family="Times,serif" font-size="14.00" fill="#ffffff">soapy_kitten#0007</text>
        </g>
        <!-- Family1 --> 
        <g id="node7" class="node">
            <title>Family1</title>
            <ellipse fill="#ffffff" stroke="#000000" cx="150.209" cy="-127" rx=".5" ry=".5"/>
        </g>
        <!-- User2&#45;&gt;Family1 --> 
        <g id="edge3" class="edge">
            <title>User2&#45;&gt;Family1</title>
            <path fill="none" stroke="#000000" d="M131.459,-127C137.5137,-127 143.5684,-127 149.6231,-127"/>
        </g>
        <!-- User3 --> 
        <g id="node3" class="node">
            <title>User3</title>
            <polygon fill="#ffffff" stroke="#000000" points="292.0138,-145 168.4042,-145 168.4042,-109 292.0138,-109 292.0138,-145"/>
            <text text-anchor="middle" x="230.209" y="-122.8" font-family="Times,serif" font-size="14.00" fill="#000000">gardenhoe94#0420</text>
        </g>
        <!-- User4 --> 
        <g id="node4" class="node">
            <title>User4</title>
            <polygon fill="#ffffff" stroke="#000000" points="153.5067,-36 22.9113,-36 22.9113,0 153.5067,0 153.5067,-36"/>
            <text text-anchor="middle" x="88.209" y="-13.8" font-family="Times,serif" font-size="14.00" fill="#000000">GermyJeremy#6909</text>
        </g>
        <!-- User5 --> 
        <g id="node5" class="node">
            <title>User5</title>
            <polygon fill="#ffffff" stroke="#000000" points="252.6494,-36 171.7686,-36 171.7686,0 252.6494,0 252.6494,-36"/>
            <text text-anchor="middle" x="212.209" y="-13.8" font-family="Times,serif" font-size="14.00" fill="#000000">snail.#0001</text>
        </g>
        <!-- User4&#45;&gt;User5 --> <!-- hUser1&#45;&gt;User2 --> 
        <g id="edge2" class="edge">
            <title>hUser1&#45;&gt;User2</title>
            <path fill="none" stroke="#000000" d="M70.209,-180.8879C70.209,-177.3796 70.209,-159.4816 70.209,-145.2614"/>
        </g>
        <!-- Family1&#45;&gt;User3 --> 
        <g id="edge4" class="edge">
            <title>Family1&#45;&gt;User3</title>
            <path fill="none" stroke="#000000" d="M150.834,-127C156.7251,-127 162.6162,-127 168.5073,-127"/>
        </g>
        <!-- hFamily1 --> 
        <g id="node8" class="node">
            <title>hFamily1</title>
            <ellipse fill="#ffffff" stroke="#000000" cx="150.209" cy="-72.5" rx=".5" ry=".5"/>
        </g>
        <!-- Family1&#45;&gt;hFamily1 --> 
        <g id="edge5" class="edge">
            <title>Family1&#45;&gt;hFamily1</title>
            <path fill="none" stroke="#000000" d="M150.209,-126.3879C150.209,-120.7746 150.209,-78.3238 150.209,-73.0394"/>
        </g>
        <!-- hFamily1&#45;&gt;User4 --> 
        <g id="edge6" class="edge">
            <title>hFamily1&#45;&gt;User4</title>
            <path fill="none" stroke="#000000" d="M149.8131,-72.152C146.6779,-69.396 125.5479,-50.8221 108.8972,-36.1856"/>
        </g>
        <!-- hFamily1&#45;&gt;User5 --> 
        <g id="edge7" class="edge">
            <title>hFamily1&#45;&gt;User5</title>
            <path fill="none" stroke="#000000" d="M150.6049,-72.152C153.7401,-69.396 174.8701,-50.8221 191.5208,-36.1856"/>
        </g>
    </g>
</svg>
{% endblock body %}
